@page "/portfolio"
@inject PortfolioService PortfolioService;
@using IssaPortfolio.Library;

<h3>Portfolio</h3>
<span>@message</span>
<br />
<input class="input" @bind="itemName" type="text" placeholder="Name of item: " />
<br />
<input class="input" @bind="description" type="text" placeholder="Description: " />
<br />
<input class="input" @bind="imageUrl" type="text" placeholder="Image url: " />
<br />
<input class="inputBox" type="button" value="Add" @onclick="async () => 
{
    await PortfolioService.AddPortfolioItem(itemName, description, imageUrl);
}"/>

<hr />
    @foreach(var item in items)
    {
        <div>
            <h3>@item.Name</h3>
            <p>@item.Description</p>
            <img src="@item.ImageUrl" alt="@item.Name" />
            <br />
            <input type="button" value="Delete">
        </div>
        <hr />
    }

@code {
    List<PortfolioItem>? items = new List<PortfolioItem>();

    string? itemName, description, imageUrl, message;
    string defaultEmptyMessage = "Some or all inputs are empty";

    protected override async Task OnInitializedAsync()
    {
        items = await PortfolioService.LoadPortfolioItems();
    }
}
